<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
     <style>
         .input_text {
             width:500px;
         }
        .search-bottom {
            width:auto;
        }
        .search-bottom ul{
            overflow: hidden;
            border: 1px black solid;

        }
        .search-bottom li {
            list-style: none;
            display: flex;
{#            align-items: center;#}
            padding: 5px 5px;
        }
    </style>
</head>
<body>
<script type="text/javascript" src="../static/jquery.js"></script>
    <ul class="search_bar clearfix">
{#      <a href=" " class="logo fl">< img src="images/logo.png"></a >#}
        <input type="text" class="input_text" autocomplete="off">

    <ul class="search-bottom" >
        <li></li>
    </ul>


    </div>


<script type="text/javascript" src="../static/js/asword.js"></script>
{#<script type="text/javascript" src="../static/js/dream.js"></script>#}
</body>
</html>